aside { width: 180px; float:left; }
aside h2 { margin: 30px 0 10px 0; }
aside li { margin-top: 20px; }
#product { width: 900px; float: right; }
#path { margin-top: 30px;  text-align: right; border-bottom: solid 1px #cccccc; padding-bottom: 8px; }
#title h1 { float: left; margin-top: 30px; }
#title button { float: right; margin-top: 30px; color: red;  border: solid 1px red; background-color: white; padding: 10px 20px; }
#title p { clear: both; }
#category { margin-top: 30px;  height: 70px;  border-top: solid 1px black;  border-bottom: solid 1px #cccccc; }
#category li { float: left; padding: 20px; }
#category button { padding: 5px 20px;  border-radius: 20px;  border: solid 1px #cccccc; margin-left: 30px; background-color: white;}
#category li:nth-child(1) { background-color: #eeeeee;  padding: 23px 30px; }
.items { float: left; margin-top: 30px;  margin-left: 30px; }
.items img { width: 280px; }
.first { margin-left: 0; }